In [1]:
#!pip install pyspark

In [2]:
#!pip install findspark

In [1]:
%pylab inline
import pandas as pd
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql.functions import min, max, count, when, isnan, col, countDistinct, hour, minute, second
from pyspark.sql.types import TimestampType, DoubleType, IntegerType, StringType, StructType, StructField

In [4]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
        .builder
        .appName("OTUS")
        .config("spark.dynamicAllocation.enabled", "true")
        .config("spark.executor.memory", "2g")
        .config("spark.driver.memory", "1g")
        .getOrCreate()
)

In [7]:
#посмотреть содержание папок hdfs
! hdfs dfs -ls

Found 41 items
drwxr-xr-x   - ubuntu hadoop          0 2023-05-28 11:37 .sparkStaging
-rw-r--r--   1 ubuntu hadoop 2807409271 2023-05-18 09:28 2019-08-22.txt
-rw-r--r--   1 ubuntu hadoop 2854479008 2023-05-18 09:28 2019-09-21.txt
-rw-r--r--   1 ubuntu hadoop 2895460543 2023-05-18 09:27 2019-10-21.txt
-rw-r--r--   1 ubuntu hadoop 2939120942 2023-05-18 09:28 2019-11-20.txt
-rw-r--r--   1 ubuntu hadoop 2995462277 2023-05-18 09:26 2019-12-20.txt
-rw-r--r--   1 ubuntu hadoop 2994906767 2023-05-18 09:28 2020-01-19.txt
-rw-r--r--   1 ubuntu hadoop 2995431240 2023-05-18 09:29 2020-02-18.txt
-rw-r--r--   1 ubuntu hadoop 2995176166 2023-05-18 09:26 2020-03-19.txt
-rw-r--r--   1 ubuntu hadoop 2996034632 2023-05-18 09:25 2020-04-18.txt
-rw-r--r--   1 ubuntu hadoop 2995666965 2023-05-18 09:29 2020-05-18.txt
-rw-r--r--   1 ubuntu hadoop 2994699401 2023-05-18 09:29 2020-06-17.txt
-rw-r--r--   1 ubuntu hadoop 2995810010 2023-05-18 09:28 2020-07-17.txt
-rw-r--r--   1 ubuntu hadoop 2995995152 2023-05-18 09:27 2020-08-16.txt
-rw-r--r--   1 ubuntu hadoop 2995778382 2023-05-18 09:25 2020-09-15.txt
-rw-r--r--   1 ubuntu hadoop 2995868596 2023-05-18 09:26 2020-10-15.txt
-rw-r--r--   1 ubuntu hadoop 2995467533 2023-05-18 09:27 2020-11-14.txt
-rw-r--r--   1 ubuntu hadoop 2994761624 2023-05-18 09:28 2020-12-14.txt
-rw-r--r--   1 ubuntu hadoop 2995390576 2023-05-18 09:26 2021-01-13.txt
-rw-r--r--   1 ubuntu hadoop 2995780517 2023-05-18 09:30 2021-02-12.txt
-rw-r--r--   1 ubuntu hadoop 2995191659 2023-05-18 09:26 2021-03-14.txt
-rw-r--r--   1 ubuntu hadoop 2995446495 2023-05-18 09:26 2021-04-13.txt
-rw-r--r--   1 ubuntu hadoop 3029170975 2023-05-18 09:25 2021-05-13.txt
-rw-r--r--   1 ubuntu hadoop 3042691991 2023-05-18 09:26 2021-06-12.txt
-rw-r--r--   1 ubuntu hadoop 3041980335 2023-05-18 09:30 2021-07-12.txt
-rw-r--r--   1 ubuntu hadoop 3042662187 2023-05-18 09:29 2021-08-11.txt
-rw-r--r--   1 ubuntu hadoop 3042455173 2023-05-18 09:29 2021-09-10.txt
-rw-r--r--   1 ubuntu hadoop 3042424238 2023-05-18 09:30 2021-10-10.txt
-rw-r--r--   1 ubuntu hadoop 3042358698 2023-05-18 09:26 2021-11-09.txt
-rw-r--r--   1 ubuntu hadoop 3042923985 2023-05-18 09:29 2021-12-09.txt
-rw-r--r--   1 ubuntu hadoop 3042868087 2023-05-18 09:29 2022-01-08.txt
-rw-r--r--   1 ubuntu hadoop 3043148790 2023-05-18 09:28 2022-02-07.txt
-rw-r--r--   1 ubuntu hadoop 3042312191 2023-05-18 09:29 2022-03-09.txt
-rw-r--r--   1 ubuntu hadoop 3041973966 2023-05-18 09:30 2022-04-08.txt
-rw-r--r--   1 ubuntu hadoop 3073760161 2023-05-18 09:30 2022-05-08.txt
-rw-r--r--   1 ubuntu hadoop 3089378246 2023-05-18 09:30 2022-06-07.txt
-rw-r--r--   1 ubuntu hadoop 3089589719 2023-05-18 09:28 2022-07-07.txt
-rw-r--r--   1 ubuntu hadoop 3090000257 2023-05-18 09:28 2022-08-06.txt
-rw-r--r--   1 ubuntu hadoop 3089390874 2023-05-18 09:28 2022-09-05.txt
-rw-r--r--   1 ubuntu hadoop 3109468067 2023-05-18 09:28 2022-10-05.txt
-rw-r--r--   1 ubuntu hadoop 3136657969 2023-05-18 09:29 2022-11-04.txt

In [8]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)  # to pretty print pyspark.DataFrame in jupyter

### EDA на выборке

In [9]:
data = spark.read.text("2019-09-21.txt")

In [10]:
data.show(10)

+--------------------+
|               value|
+--------------------+
|# tranaction_id |...|
|46988237,2019-09-...|
|46988238,2019-09-...|
|46988239,2019-09-...|
|46988240,2019-09-...|
|46988241,2019-09-...|
|46988242,2019-09-...|
|46988243,2019-09-...|
|46988244,2019-09-...|
|46988245,2019-09-...|
+--------------------+
only showing top 10 rows

In [11]:
#extract first row as this is our header
header=data.first()[0]
schema=header.split(" | ")

In [12]:
print(schema)

['# tranaction_id', 'tx_datetime', 'customer_id', 'terminal_id', 'tx_amount', 'tx_time_seconds', 'tx_time_days', 'tx_fraud', 'tx_fraud_scenario']

In [13]:
#filter the header, separate the columns and apply the schema
df_new = data.filter(data["value"] != header).rdd.map(lambda x:x[0].split(",")).toDF(schema)
df_new.show()

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|# tranaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|       46988237|2019-09-21 09:45:59|          1|        178|    83.11|        2627159|          30|       0|                0|
|       46988238|2019-09-21 19:33:01|          2|        660|    22.15|        2662381|          30|       0|                0|
|       46988239|2019-09-21 18:06:19|          3|        732|    36.83|        2657179|          30|       0|                0|
|       46988240|2019-09-21 16:56:01|         10|        663|    19.30|        2652961|          30|       0|                0|
|       46988241|2019-09-21 05:34:26|         10|        145|   106.51|        2612066|          30|       0|                0|
|       46988242|2019-09-21 12:12:51|         11|        337|    53.97|        2635971|          30|       0|                0|
|       46988243|2019-09-21 11:05:32|         11|        973|    29.30|        2631932|          30|       0|                0|
|       46988244|2019-09-21 15:13:40|         11|        975|    28.59|        2646820|          30|       0|                0|
|       46988245|2019-09-21 16:47:20|         12|        522|    88.02|        2652440|          30|       0|                0|
|       46988246|2019-09-21 07:57:03|         12|        522|    77.39|        2620623|          30|       0|                0|
|       46988247|2019-09-21 14:47:46|         13|         51|    84.32|        2645266|          30|       0|                0|
|       46988248|2019-09-21 07:04:56|         13|        440|    43.30|        2617496|          30|       0|                0|
|       46988249|2019-09-21 06:49:40|         13|        819|    72.70|        2616580|          30|       0|                0|
|       46988250|2019-09-21 19:53:28|         14|        892|     1.46|        2663608|          30|       0|                0|
|       46988251|2019-09-21 19:04:13|         15|        505|    52.54|        2660653|          30|       1|                2|
|       46988252|2019-09-21 07:34:48|         15|        145|    34.87|        2619288|          30|       0|                0|
|       46988253|2019-09-21 06:53:08|         18|        182|    66.25|        2616788|          30|       0|                0|
|       46988254|2019-09-21 08:57:22|         18|        561|   107.31|        2624242|          30|       0|                0|
|       46988255|2019-09-21 06:49:38|         21|        273|    83.25|        2616578|          30|       0|                0|
|       46988256|2019-09-21 07:55:29|         21|        375|    93.28|        2620529|          30|       0|                0|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
only showing top 20 rows

In [14]:
df_new.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df_new.columns[2:]])

+-----------+-----------+---------+---------------+------------+--------+-----------------+
|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+-----------+-----------+---------+---------------+------------+--------+-----------------+
|          0|        778|        0|              0|           0|       0|                0|
+-----------+-----------+---------+---------------+------------+--------+-----------------+

#### 1. Data-Type Constraints – e.g., values in a particular column must be of a particular data type, e.g., Boolean, numeric (integer or real), date, etc.

In [15]:
df_new = df_new.withColumn("tx_datetime", df_new.tx_datetime.cast(TimestampType()))\
        .withColumn("customer_id", df_new.customer_id.cast(IntegerType()))\
        .withColumn("terminal_id", df_new.terminal_id.cast(IntegerType()))\
        .withColumn("tx_amount", df_new.tx_amount.cast(DoubleType()))\
        .withColumn("tx_time_seconds", df_new.tx_time_seconds.cast(IntegerType()))\
        .withColumn("tx_time_days", df_new.tx_time_days.cast(IntegerType()))\
        .withColumn("tx_fraud", df_new.tx_fraud.cast(IntegerType()))\
        .withColumn("tx_fraud_scenario", df_new.tx_fraud_scenario.cast(IntegerType()))

In [16]:
df_new.printSchema()

root
 |-- # tranaction_id: string (nullable = true)
 |-- tx_datetime: timestamp (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- terminal_id: integer (nullable = true)
 |-- tx_amount: double (nullable = true)
 |-- tx_time_seconds: integer (nullable = true)
 |-- tx_time_days: integer (nullable = true)
 |-- tx_fraud: integer (nullable = true)
 |-- tx_fraud_scenario: integer (nullable = true)

In [17]:
df_new = df_new.withColumn("hour", hour(col("tx_datetime")))\
        .withColumn("minute", minute(col("tx_datetime")))\
        .withColumn("second", second(col("tx_datetime")))

In [18]:
df_new

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|# tranaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|hour|minute|second|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|       46988237|2019-09-21 09:45:59|          1|        178|    83.11|        2627159|          30|       0|                0|   9|    45|    59|
|       46988238|2019-09-21 19:33:01|          2|        660|    22.15|        2662381|          30|       0|                0|  19|    33|     1|
|       46988239|2019-09-21 18:06:19|          3|        732|    36.83|        2657179|          30|       0|                0|  18|     6|    19|
|       46988240|2019-09-21 16:56:01|         10|        663|     19.3|        2652961|          30|       0|                0|  16|    56|     1|
|       46988241|2019-09-21 05:34:26|         10|        145|   106.51|        2612066|          30|       0|                0|   5|    34|    26|
|       46988242|2019-09-21 12:12:51|         11|        337|    53.97|        2635971|          30|       0|                0|  12|    12|    51|
|       46988243|2019-09-21 11:05:32|         11|        973|     29.3|        2631932|          30|       0|                0|  11|     5|    32|
|       46988244|2019-09-21 15:13:40|         11|        975|    28.59|        2646820|          30|       0|                0|  15|    13|    40|
|       46988245|2019-09-21 16:47:20|         12|        522|    88.02|        2652440|          30|       0|                0|  16|    47|    20|
|       46988246|2019-09-21 07:57:03|         12|        522|    77.39|        2620623|          30|       0|                0|   7|    57|     3|
|       46988247|2019-09-21 14:47:46|         13|         51|    84.32|        2645266|          30|       0|                0|  14|    47|    46|
|       46988248|2019-09-21 07:04:56|         13|        440|     43.3|        2617496|          30|       0|                0|   7|     4|    56|
|       46988249|2019-09-21 06:49:40|         13|        819|     72.7|        2616580|          30|       0|                0|   6|    49|    40|
|       46988250|2019-09-21 19:53:28|         14|        892|     1.46|        2663608|          30|       0|                0|  19|    53|    28|
|       46988251|2019-09-21 19:04:13|         15|        505|    52.54|        2660653|          30|       1|                2|  19|     4|    13|
|       46988252|2019-09-21 07:34:48|         15|        145|    34.87|        2619288|          30|       0|                0|   7|    34|    48|
|       46988253|2019-09-21 06:53:08|         18|        182|    66.25|        2616788|          30|       0|                0|   6|    53|     8|
|       46988254|2019-09-21 08:57:22|         18|        561|   107.31|        2624242|          30|       0|                0|   8|    57|    22|
|       46988255|2019-09-21 06:49:38|         21|        273|    83.25|        2616578|          30|       0|                0|   6|    49|    38|
|       46988256|2019-09-21 07:55:29|         21|        375|    93.28|        2620529|          30|       0|                0|   7|    55|    29|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
only showing top 20 rows

In [19]:
df_new.select(min("tx_datetime"), max("tx_datetime")).first()

Row(min(tx_datetime)=datetime.datetime(2019, 9, 21, 0, 0), max(tx_datetime)=datetime.datetime(2019, 10, 20, 23, 59, 59))

In [20]:
df_new.select(min("hour"), max("hour"), min("minute"), max("minute"), min("second"), max("second")).first()

Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)

#### 2. Range Constraints: typically, numbers or dates should fall within a certain range. That is, they have minimum and/or maximum permissible values.

In [21]:
df_new.summary()

+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|         tx_amount|   tx_time_seconds|      tx_time_days|            tx_fraud|  tx_fraud_scenario|              hour|            minute|            second|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+
|  count|            46994586|         46994586|          46993808|          46994586|          46994586|          46994586|            46994586|           46994586|          46994483|          46994483|          46994483|
|   mean|        7.04855295E7|500408.7910296518|26131.415391065988| 54.23517020109595|3887961.7464464735|44.499569929182904|0.057127133751109116|0.11508919346581753|11.499809371240449|29.499881720158513|29.503239539841303|
| stddev|1.3566168583115075E7|  288605.71890121|1514438.6991362155|41.309001673721376| 748103.2080479839| 8.656042958590001|  0.2320853840435848|0.46959559949215074| 5.059005945167615|17.317712944087045|17.318269042539246|
|    min|            46988237|          -999999|                 0|               0.0|           2592000|                30|                   0|                  0|                 0|                 0|                 0|
|    25%|         5.8734146E7|           250719|               197|             21.94|           3239912|                37|                   0|                  0|                 8|                15|                15|
|    50%|         7.0487852E7|           500719|               511|             45.42|           3888462|                44|                   0|                  0|                12|                30|                30|
|    75%|         8.2232017E7|           750218|               797|             77.81|           4535930|                52|                   0|                  0|                15|                45|                45|
|    max|            93982822|           999999|          89518096|           4303.07|           5184000|                59|                   1|                  3|                23|                59|                59|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+

Что обнаружено:

* customer_id = -999999; 999999

* tx_amount = 0.0

In [22]:
df_new[df_new.tx_amount == 0.0]

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|# tranaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|hour|minute|second|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|       47061238|2019-09-21 03:26:32|      46539|        707|      0.0|        2604392|          30|       0|                0|   3|    26|    32|
|       47154330|2019-09-21 21:33:19|     105987|        870|      0.0|        2669599|          30|       0|                0|  21|    33|    19|
|       47165461|2019-09-21 13:32:23|     113020|        100|      0.0|        2640743|          30|       1|                2|  13|    32|    23|
|       47181299|2019-09-21 12:35:54|     123313|        251|      0.0|        2637354|          30|       0|                0|  12|    35|    54|
|       47227073|2019-09-21 05:15:53|     152548|        891|      0.0|        2610953|          30|       0|                0|   5|    15|    53|
|       47228403|2019-09-21 19:02:19|     153348|        160|      0.0|        2660539|          30|       0|                0|  19|     2|    19|
|       47350288|2019-09-21 13:55:31|     231601|        435|      0.0|        2642131|          30|       0|                0|  13|    55|    31|
|       47426689|2019-09-21 11:10:10|     280295|        816|      0.0|        2632210|          30|       0|                0|  11|    10|    10|
|       47486538|2019-09-21 04:57:51|     318725|        337|      0.0|        2609871|          30|       0|                0|   4|    57|    51|
|       47544251|2019-09-21 16:15:48|     355184|        516|      0.0|        2650548|          30|       0|                0|  16|    15|    48|
|       47614133|2019-09-21 14:43:08|     399357|        265|      0.0|        2644988|          30|       0|                0|  14|    43|     8|
|       47660632|2019-09-21 04:50:30|     428954|        596|      0.0|        2609430|          30|       0|                0|   4|    50|    30|
|       47684853|2019-09-21 17:10:15|     444485|        622|      0.0|        2653815|          30|       0|                0|  17|    10|    15|
|       47749586|2019-09-21 11:02:33|     485882|        521|      0.0|        2631753|          30|       0|                0|  11|     2|    33|
|       47855578|2019-09-21 19:59:28|     553549|        529|      0.0|        2663968|          30|       0|                0|  19|    59|    28|
|       47877747|2019-09-21 06:50:26|     567639|        145|      0.0|        2616626|          30|       0|                0|   6|    50|    26|
|       47919300|2019-09-21 05:38:13|     593825|        115|      0.0|        2612293|          30|       0|                0|   5|    38|    13|
|       47964791|2019-09-21 09:10:09|     622833|        543|      0.0|        2625009|          30|       1|                2|   9|    10|     9|
|       48062041|2019-09-21 00:47:47|     684884|        720|      0.0|        2594867|          30|       0|                0|   0|    47|    47|
|       48099427|2019-09-21 03:45:19|     708640|        724|      0.0|        2605519|          30|       0|                0|   3|    45|    19|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
only showing top 20 rows

In [23]:
df_new[df_new.customer_id == -999999]

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|# tranaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|hour|minute|second|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|       47009347|2019-09-21 19:52:15|    -999999|        779|   107.75|        2663535|          30|       0|                0|  19|    52|    15|
|       47079004|2019-09-21 09:35:34|    -999999|        972|    11.88|        2626534|          30|       0|                0|   9|    35|    34|
|       47105774|2019-09-21 10:29:57|    -999999|        403|      7.6|        2629797|          30|       0|                0|  10|    29|    57|
|       47158695|2019-09-21 13:56:17|    -999999|        710|     5.57|        2642177|          30|       0|                0|  13|    56|    17|
|       47392780|2019-09-21 07:49:27|    -999999|        481|    74.61|        2620167|          30|       0|                0|   7|    49|    27|
|       47440508|2019-09-21 13:53:24|    -999999|        754|    63.82|        2642004|          30|       0|                0|  13|    53|    24|
|       47503116|2019-09-21 19:08:16|    -999999|        114|    54.13|        2660896|          30|       0|                0|  19|     8|    16|
|       47549817|2019-09-21 16:43:46|    -999999|        132|    26.74|        2652226|          30|       0|                0|  16|    43|    46|
|       47668930|2019-09-21 10:27:52|    -999999|        831|    24.74|        2629672|          30|       0|                0|  10|    27|    52|
|       47673768|2019-09-21 11:38:18|    -999999|        580|    63.21|        2633898|          30|       0|                0|  11|    38|    18|
|       47787651|2019-09-21 08:09:27|    -999999|          9|    52.31|        2621367|          30|       0|                0|   8|     9|    27|
|       47880840|2019-09-21 10:50:38|    -999999|        880|     59.7|        2631038|          30|       0|                0|  10|    50|    38|
|       47990222|2019-09-21 09:08:26|    -999999|        958|    57.42|        2624906|          30|       0|                0|   9|     8|    26|
|       48079485|2019-09-21 20:18:53|    -999999|        971|    25.13|        2665133|          30|       0|                0|  20|    18|    53|
|       48114562|2019-09-21 15:41:05|    -999999|        331|    99.89|        2648465|          30|       1|                2|  15|    41|     5|
|       48117694|2019-09-21 10:00:04|    -999999|        913|     7.31|        2628004|          30|       0|                0|  10|     0|     4|
|       48229332|2019-09-21 10:30:04|    -999999|        281|   139.85|        2629804|          30|       0|                0|  10|    30|     4|
|       48327896|2019-09-21 07:28:17|    -999999|        521|    47.41|        2618897|          30|       0|                0|   7|    28|    17|
|       48501332|2019-09-21 08:54:42|    -999999|        145|    62.36|        2624082|          30|       0|                0|   8|    54|    42|
|       48515672|2019-09-21 01:05:00|    -999999|        392|    53.95|        2595900|          30|       0|                0|   1|     5|     0|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
only showing top 20 rows

In [24]:
df_new[df_new.customer_id == 999999]

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|# tranaction_id|        tx_datetime|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|hour|minute|second|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|       50124028|2019-09-22 04:18:50|     999999|        488|    25.47|        2693930|          31|       0|                0|   4|    18|    50|
|       50124029|2019-09-22 13:56:59|     999999|        920|    37.56|        2728619|          31|       0|                0|  13|    56|    59|
|       50124030|2019-09-22 15:49:08|     999999|        374|    42.99|        2735348|          31|       0|                0|  15|    49|     8|
|       56388538|2019-09-26 14:33:06|     999999|        374|    31.56|        3076386|          35|       0|                0|  14|    33|     6|
|       61087255|2019-09-29 08:18:41|     999999|        548|    34.81|        3313121|          38|       0|                0|   8|    18|    41|
|       61087256|2019-09-29 09:53:19|     999999|        354|    32.94|        3318799|          38|       0|                0|   9|    53|    19|
|       62653437|2019-09-30 20:04:37|     999999|        498|    49.47|        3441877|          39|       0|                0|  20|     4|    37|
|       64220672|2019-10-01 10:50:39|     999999|        735|    28.45|        3495039|          40|       0|                0|  10|    50|    39|
|       64220673|2019-10-01 12:12:32|     999999|        881|    34.04|        3499952|          40|       0|                0|  12|    12|    32|
|       65786156|2019-10-02 15:51:07|     999999|          4|    27.72|        3599467|          41|       0|                0|  15|    51|     7|
|       70485864|2019-10-05 12:11:19|     999999|        735|    47.92|        3845479|          44|       0|                0|  12|    11|    19|
|       75186443|2019-10-08 14:46:42|     999999|        226|    25.98|        4114002|          47|       0|                0|  14|    46|    42|
|       78317556|2019-10-10 11:50:33|     999999|        920|     31.7|        4276233|          49|       0|                0|  11|    50|    33|
|       86148879|2019-10-15 08:17:12|     999999|          4|     19.6|        4695432|          54|       0|                0|   8|    17|    12|
|       87715407|2019-10-16 08:18:04|     999999|        881|    25.15|        4781884|          55|       0|                0|   8|    18|     4|
|       90849826|2019-10-18 14:01:05|     999999|        354|    57.62|        4975265|          57|       0|                0|  14|     1|     5|
|       90849827|2019-10-18 08:11:14|     999999|        226|    22.94|        4954274|          57|       0|                0|   8|    11|    14|
|       92415767|2019-10-19 18:47:43|     999999|          4|    38.95|        5078863|          58|       0|                0|  18|    47|    43|
|       93982822|2019-10-20 19:33:18|     999999|        735|    29.92|        5167998|          59|       0|                0|  19|    33|    18|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+

#### 3. Mandatory Constraints: Certain columns cannot be empty

In [25]:
# Find Count of Null, None, NaN of All DataFrame Columns
df_new.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df_new.columns[2:]])

+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|hour|minute|second|
+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+
|          0|        778|        0|              0|           0|       0|                0| 103|   103|   103|
+-----------+-----------+---------+---------------+------------+--------+-----------------+----+------+------+

#### 4. Unique Constraints: A field, or a combination of fields, must be unique across a dataset.

In [26]:
df_new.distinct().count()

46994586

In [27]:
df_new.select(countDistinct("# tranaction_id"))

+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994586|
+-------------------------------+

Что обнаружено:

* количество уникальных значений меньше, чем общее количество строк, обнаружены дубликаты строк

#### 5. Set-Membership constraints: The values for a column come from a set of discrete values or codes.

In [28]:
df_new.groupBy("tx_fraud").count()

+--------+--------+
|tx_fraud|   count|
+--------+--------+
|       1| 2684666|
|       0|44309920|
+--------+--------+

In [29]:
df_new.groupBy("tx_fraud_scenario").count()

+-----------------+--------+
|tx_fraud_scenario|   count|
+-----------------+--------+
|                1|   25433|
|                3|   64670|
|                2| 2594563|
|                0|44309920|
+-----------------+--------+

### EDA на всем датасете

In [5]:
import subprocess

dir_in = "/data"
args = "hdfs dfs -ls | awk '{print $8}'"
proc = subprocess.Popen(args, stdout=subprocess.PIPE, stderr=subprocess.PIPE, shell=True)

s_output, s_err = proc.communicate()
all_dart_dirs = s_output.split()
all_dart_dirs = all_dart_dirs[1:]

In [6]:
def basic_info(path):
    data = spark.read.text(path)
    header=data.first()[0]
    schema=header.split(" | ")
    df_new = data.filter(data["value"] != header).rdd.map(lambda x:x[0].split(",")).toDF(schema)
    df_new = df_new.withColumn("tx_datetime", df_new.tx_datetime.cast(TimestampType()))\
        .withColumn("customer_id", df_new.customer_id.cast(IntegerType()))\
        .withColumn("terminal_id", df_new.terminal_id.cast(IntegerType()))\
        .withColumn("tx_amount", df_new.tx_amount.cast(DoubleType()))\
        .withColumn("tx_time_seconds", df_new.tx_time_seconds.cast(IntegerType()))\
        .withColumn("tx_time_days", df_new.tx_time_days.cast(IntegerType()))\
        .withColumn("tx_fraud", df_new.tx_fraud.cast(IntegerType()))\
        .withColumn("tx_fraud_scenario", df_new.tx_fraud_scenario.cast(IntegerType()))
    print(df_new.summary())
    print(df_new.select(min("tx_datetime"), max("tx_datetime")).first())
    print(df_new.select(countDistinct("# tranaction_id")))

In [47]:
for path in all_dart_dirs[:3]:
    print(str(path)[2:-1])
    basic_info(str(path)[2:-1])

2019-08-22.txt
+-------+--------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|   tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+
|  count|            46988418|          46988418|          46988418|         46988418|          46988418|         46988418|           46988418|           46988418|
|   mean|2.3494115552178305E7|500433.83151635365|26597.231571533222|54.23395999456729|1296054.5003670265| 14.5006346883183|0.05377931642644364|0.10841507794537794|
| stddev|1.3564333711807257E7| 288539.1737685039|1528137.6620335372|41.25033514383643| 748049.5087349451|8.655415884394312|0.22558169835808653| 0.4568780500029875|
|    min|                   0|           -999999|                 0|              0.0|                 0|                0|                  0|                  0|
|    25%|         1.1750217E7|            250734|               198|            21.96|            648045|                7|                  0|                  0|
|    50%|         2.3491787E7|            500810|               511|             45.4|           1296193|               14|                  0|                  0|
|    75%|         3.5239012E7|            750136|               797|            77.78|           1944078|               22|                  0|                  0|
|    max|             9999999|            999999|          89518096|          3773.34|           2592000|               29|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2019, 8, 22, 0, 0), max(tx_datetime)=datetime.datetime(2019, 9, 20, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46988237|
+-------------------------------+

2019-09-21.txt
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|         tx_amount|   tx_time_seconds|      tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+
|  count|            46994586|         46994586|          46993808|          46994586|          46994586|          46994586|            46994586|           46994586|
|   mean|        7.04855295E7|500408.7910296518|26131.415391065988| 54.23517020109595|3887961.7464464735|44.499569929182904|0.057127133751109116|0.11508919346581753|
| stddev|1.3566168583115073E7|  288605.71890121|1514438.6991362153|41.309001673721376| 748103.2080479839| 8.656042958590001|  0.2320853840435848|0.46959559949215074|
|    min|            46988237|          -999999|                 0|               0.0|           2592000|                30|                   0|                  0|
|    25%|         5.8734146E7|           250700|               197|             21.94|           3239912|                37|                   0|                  0|
|    50%|         7.0483253E7|           500719|               511|             45.42|           3887893|                44|                   0|                  0|
|    75%|         8.2232017E7|           750218|               797|             77.81|           4535908|                52|                   0|                  0|
|    max|            93982822|           999999|          89518096|           4303.07|           5184000|                59|                   1|                  3|
+-------+--------------------+-----------------+------------------+------------------+------------------+------------------+--------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2019, 9, 21, 0, 0), max(tx_datetime)=datetime.datetime(2019, 10, 20, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994586|
+-------------------------------+

2019-10-21.txt
+-------+--------------------+-----------------+------------------+-----------------+-----------------+-----------------+--------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|        tx_amount|  tx_time_seconds|     tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+-----------------+-----------------+-----------------+--------------------+-------------------+
|  count|            46994432|         46994432|          46994095|         46994432|         46994432|         46994432|            46994432|           46994432|
|   mean|1.1747998834602457E8|500459.0007606007|25609.197394523715|54.22942989288503|6480042.166121361|74.50047422639346|0.061309050399843114|0.12345920044315037|
| stddev|1.3566092568324871E7|288559.2743272898| 1498937.858170725|41.21476215222664|748136.0158995113|8.656436486468424|   0.239896335869331| 0.4850677955801512|
|    min|           100000000|                0|                 0|              0.0|          5184000|               60|                   0|                  0|
|    25%|        1.05730407E8|           250804|               198|            21.95|          5831826|               67|                   0|                  0|
|    50%|        1.17478741E8|           500784|               511|             45.4|          6479385|               75|                   0|                  0|
|    75%|        1.29230928E8|           750211|               797|            77.79|          7128113|               82|                   0|                  0|
|    max|            99999999|           999999|          89518096|          3521.11|          7776000|               89|                   1|                  3|
+-------+--------------------+-----------------+------------------+-----------------+-----------------+-----------------+--------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2019, 10, 21, 0, 0), max(tx_datetime)=datetime.datetime(2019, 11, 19, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994326|
+-------------------------------+

In [ ]:
for path in all_dart_dirs[3:]:
    print(str(path)[2:-1])
    basic_info(str(path)[2:-1])

2019-11-20.txt
+-------+--------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|  tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-------------------+
|  count|            46992239|          46992239|          46990303|         46992239|         46992239|          46992239|           46992239|           46992239|
|   mean|1.6447322476824638E8|500459.87731093215|27049.256139059158|54.23781666627963|9071959.531695394|104.49993331877631|0.05227031212537032|0.10539791474928445|
| stddev|1.3565467724042192E7|288546.72727632715| 1541322.190585709|41.30263273238161|748176.4890162547| 8.655355111644191| 0.2225716236402647| 0.4509415384972227|
|    min|           140977149|           -999999|                 0|              0.0|            72099|                90|                  0|                  0|
|    25%|        1.52724022E8|            250820|               197|            21.96|          8423948|                97|                  0|                  0|
|    50%|        1.64474302E8|            500776|               511|            45.41|          9071902|               105|                  0|                  0|
|    75%|        1.76217396E8|            750189|               797|            77.78|          9720074|               112|                  0|                  0|
|    max|           187969298|            999999|          89518096|          4857.51|         10368000|               119|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-----------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2019, 11, 20, 0, 0), max(tx_datetime)=datetime.datetime(2019, 12, 19, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46992150|
+-------------------------------+

2019-12-20.txt
+-------+--------------------+-----------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|         tx_amount|     tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+
|  count|            46994937|         46994937|          46993889|          46994937|            46994937|          46994937|           46994937|           46994937|
|   mean|2.1146676700000003E8|500415.2723298469|26443.479383159796|54.227280341496694|1.1663850907935338E7|134.49843358657975|0.05102696488347245|0.10291002198811332|
| stddev| 1.356626990808733E7|288577.1724246683|1523636.9970132085|  41.2659717268669|   748123.3580468916| 8.655504924619635|0.22005275451274217|0.44596494849524987|
|    min|           187969299|                0|                 0|               0.0|               69060|               120|                  0|                  0|
|    25%|        1.99715426E8|           250721|               197|             21.95|            11015891|               127|                  0|                  0|
|    50%|        2.11465493E8|           500697|               511|             45.42|            11662294|               134|                  0|                  0|
|    75%|        2.23212834E8|           750192|               797|             77.78|            12311854|               142|                  0|                  0|
|    max|           234964235|           999999|          89518096|           4289.59|            12960000|               149|                  1|                  3|
+-------+--------------------+-----------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2019, 12, 20, 0, 0), max(tx_datetime)=datetime.datetime(2020, 1, 18, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994937|
+-------------------------------+

2020-01-19.txt
+-------+--------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|      terminal_id|         tx_amount|   tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+
|  count|            46986197|          46986197|         46986197|          46986197|          46986197|          46986197|           46986197|           46986197|
|   mean|2.5845731195066598E8|500423.55133140483|26609.61669072728|  54.2331567983678|1.42558648411877E7|164.49839051668727| 0.0507065511175548|0.10225415774764661|
| stddev|1.3563734330362225E7| 288557.5092410845|1528508.360753998|41.282511784190184| 748119.0204890012|  8.65616017883153|0.21939780722645216| 0.4445964223885188|
|    min|           234964236|           -999999|                0|               0.0|          12960001|               150|                  0|                  0|
|    25%|        2.46710618E8|            250764|              197|             21.95|          13607838|               157|                  0|                  0|
|    50%|        2.58455135E8|            500725|              511|             45.41|          14253652|               164|                  0|                  0|
|    75%|        2.70205538E8|            750189|              797|             77.79|          14903866|               172|                  0|                  0|
|    max|           281950386|            999999|         89518096|           3968.55|          15552000|               179|                  1|                  3|
+-------+--------------------+------------------+-----------------+------------------+------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 1, 19, 0, 0, 1), max(tx_datetime)=datetime.datetime(2020, 2, 17, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46986151|
+-------------------------------+

2020-02-18.txt
+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|         tx_amount|     tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+
|  count|            46994271|          46994271|          46993777|          46994271|            46994271|          46994271|           46994271|           46994271|
|   mean|3.0544752199999994E8| 500416.4477006357|27155.825003468013|54.241205992960154|1.6847875328314893E7|194.50034801050538|0.05250584693610844|0.10585805235706285|
| stddev|1.3566077650447685E7|288541.00220427325|1544413.2675588853| 41.30076670116685|   749198.4251612645| 8.655457594697724| 0.2230448027465541|0.45182267660969894|
|    min|           281950387|                 0|                 0|               0.0|               49731|               180|                  0|                  0|
|    25%|        2.93696483E8|            250756|               197|             21.95|            16199975|               187|                  0|                  0|
|    50%|        3.05445835E8|            500685|               511|             45.42|            16847999|               194|                  0|                  0|
|    75%|        3.17193777E8|            750171|               797|              77.8|            17496061|               202|                  0|                  0|
|    max|           328944657|            999999|          89518096|           3995.03|            18144000|               209|                  1|                  3|
+-------+--------------------+------------------+------------------+------------------+--------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 2, 18, 0, 0), max(tx_datetime)=datetime.datetime(2020, 3, 18, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994271|
+-------------------------------+

2020-03-19.txt
+-------+--------------------+-----------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|        tx_amount|     tx_time_seconds|      tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+
|  count|            46990424|         46990424|          46987185|         46990424|            46990424|          46990424|            46990424|           46990424|
|   mean|3.5243986950000006E8|500420.4311134541|26930.996190833735|54.22560546633941|1.9439960922893863E7|224.49955610104732|0.053705005939082395| 0.1082602702201623|
| stddev|  1.35649671172049E7|288588.4764396315|1537886.1210333076|41.22376564846779|   747988.4176116864| 8.654706737975083|  0.2254346454245205|0.45654588826277753|
|    min|           328944658|          -999999|                 0|              0.0|            18144000|               210|                   0|                  0|
|    25%|        3.40690678E8|           250733|               197|            21.95|            18792032|               217|                   0|                  0|
|    50%|        3.52435814E8|           500773|               511|            45.41|            19440280|               224|                   0|                  0|
|    75%|        3.64185832E8|           750196|               797|            77.78|            20087990|               232|                   0|                  0|
|    max|           375935081|           999999|          89518096|          4622.26|            20736000|               239|                   1|                  3|
+-------+--------------------+-----------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 3, 19, 0, 0), max(tx_datetime)=datetime.datetime(2020, 4, 17, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46990424|
+-------------------------------+

2020-04-18.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+
|  count|            47001235|          47001235|          47001068|         47001235|           47001235|          47001235|           47001235|           47001235|
|   mean| 3.994356715522171E8| 500399.2460601088|20828.820872410815|54.24845349531741|2.203181378520426E7|254.50106657835693|0.07738909413763277|0.15566995207679118|
| stddev|1.3568071361104049E7|288631.89634211955|1348739.8628069034|41.32914042953819|  750792.3047978195| 8.655687288939342|0.26720782878744165| 0.5392971761330079|
|    min|           375935082|           -999999|                 0|              0.0|               3088|               240|                  0|                  0|
|    25%|        3.87684075E8|            250737|               199|            21.95|           21383991|               247|                  0|                  0|
|    50%|        3.99439065E8|            500729|               512|            45.42|           22033250|               255|                  0|                  0|
|    75%|        4.11184759E8|            750173|               797|             77.8|           22680042|               262|                  0|                  0|
|    max|           422936261|            999999|          89518096|          4245.65|           23328000|               269|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 4, 18, 0, 0), max(tx_datetime)=datetime.datetime(2020, 5, 17, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       47001180|
+-------------------------------+

2020-05-18.txt
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|         tx_amount|    tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+
|  count|            46998002|          46998002|          46998002|          46998002|           46998002|          46998002|           46998002|           46998002|
|   mean| 4.464351688876817E8| 500460.5445234459| 27022.21723368155| 54.23030532787254|2.462393390379608E7|284.50041225156764|   0.05091844117118|0.10269738700806898|
| stddev|1.3567101611773651E7|288555.90617919277|1540532.4331673346|41.300813947451296|  749207.0094601444| 8.655557645114166|0.21983119557544287| 0.4455552239762688|
|    min|           422936262|                 0|                 0|               0.0|              35718|               270|                  0|                  0|
|    25%|        4.34682533E8|            250817|               197|             21.95|           23975967|               277|                  0|                  0|
|    50%|        4.46431927E8|            500714|               511|              45.4|           24623495|               284|                  0|                  0|
|    75%|        4.58185051E8|            750218|               797|             77.78|           25272028|               292|                  0|                  0|
|    max|           469934076|            999999|          89518096|           4257.49|           25920000|               299|                  1|                  3|
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 5, 18, 0, 0), max(tx_datetime)=datetime.datetime(2020, 6, 16, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46997815|
+-------------------------------+

2020-06-17.txt
+-------+--------------------+------------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|     tx_time_seconds|      tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+
|  count|            46983063|          46983063|          46981424|         46983063|            46983063|          46983063|            46983063|           46983063|
|   mean|4.9342560800000006E8| 500385.8959879649| 26329.99701190411|54.23215234647412|2.7215979347681165E7|314.49979370225395|0.050161927501406196|0.10117969532978299|
| stddev| 1.356284217953914E7|288661.71524737816|1520311.1354626843|41.34015249763298|    748085.134405093| 8.655877322027406|  0.2182789718338765| 0.4424781538868662|
|    min|           469934077|           -999999|                 0|              0.0|            25920000|               300|                   0|                  0|
|    25%|        4.81680262E8|            250668|               197|            21.95|            26567880|               307|                   0|                  0|
|    50%|        4.93426599E8|            500723|               511|             45.4|            27215410|               315|                   0|                  0|
|    75%|        5.05173544E8|            750214|               797|            77.78|            27863972|               322|                   0|                  0|
|    max|           516917139|            999999|          89518096|          4748.97|            28512000|               329|                   1|                  3|
+-------+--------------------+------------------+------------------+-----------------+--------------------+------------------+--------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 6, 17, 0, 0), max(tx_datetime)=datetime.datetime(2020, 7, 16, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46983063|
+-------------------------------+

2020-07-17.txt
+-------+--------------------+-----------------+------------------+------------------+-------------------+------------------+--------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|         tx_amount|    tx_time_seconds|      tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+------------------+-------------------+------------------+--------------------+-------------------+
|  count|            47000292|         47000292|          46999560|          47000292|           47000292|          47000292|            47000292|           47000292|
|   mean| 5.404172854999999E8|500441.3094470349|26912.602993581215|54.232307919916806|2.980802962331885E7|344.50129146006157|0.051468744066526226|0.10379799342523234|
| stddev|1.3567815763433065E7|288584.0109089412|1537351.2124617456|41.274234357187225|  749086.9067257831| 8.654629940281572|  0.2209518352253525|0.44776526450740917|
|    min|           516917140|          -999999|                 0|               0.0|              30176|               330|                   0|                  0|
|    25%|         5.2866608E8|           250743|               197|             21.95|           29160030|               337|                   0|                  0|
|    50%|        5.40419026E8|           500797|               511|             45.41|           29808603|               345|                   0|                  0|

In [ ]:
for path in all_dart_dirs[14:]:
    print(str(path)[2:-1])
    basic_info(str(path)[2:-1])

2020-10-15.txt
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|         tx_amount|    tx_time_seconds|      tx_time_days|           tx_fraud| tx_fraud_scenario|
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+
|  count|            47001238|          47001238|          46998898|          47001238|           47001238|          47001238|           47001238|          47001238|
|   mean| 6.814209840966522E8|500457.73553637037| 27032.93110825705| 54.23049368167651|3.758398264230325E7|434.49979994143985|0.04991462139784488|  0.10067870978207|
| stddev|1.3568048763479581E7| 288569.9564065086|1540849.5479515449|41.246148088204606|  748096.8014401352| 8.655975066176538|0.21776857665313426|0.4414355421633948|
|    min|           657920435|           -999999|                 0|               0.0|           36288000|               420|                  0|                 0|
|    25%|        6.69672157E8|            250814|               197|             21.95|           36935927|               427|                  0|                 0|
|    50%|        6.81418798E8|            500816|               511|              45.4|           37583579|               435|                  0|                 0|
|    75%|        6.93173466E8|            750229|               797|             77.78|           38232034|               442|                  0|                 0|
|    max|           704921527|            999999|          89518096|           3812.68|           38880000|               449|                  1|                 3|
+-------+--------------------+------------------+------------------+------------------+-------------------+------------------+-------------------+------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 10, 15, 0, 0), max(tx_datetime)=datetime.datetime(2020, 11, 13, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       47001093|
+-------------------------------+

2020-11-14.txt
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|     tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+
|  count|            46995020|          46995020|          46993045|         46995020|            46995020|         46995020|           46995020|           46995020|
|   mean| 7.284189452806071E8| 500436.2519566967|26710.587427884275|54.22666867893742|4.0175743778663315E7|464.4984844989959|0.04968747752421427|0.10021634207198976|
| stddev|1.3566239968842175E7|288579.15678428556| 1531460.331184403|41.30683769113455|   750413.6139878611|8.655324125681448|0.21729848850429784| 0.4404599515496927|
|    min|           704921528|           -999999|                 0|              0.0|               78787|              450|                  0|                  0|
|    25%|         7.1666592E8|            250777|               197|            21.95|            39527843|              457|                  0|                  0|
|    50%|        7.28418561E8|            500683|               511|             45.4|            40174460|              464|                  0|                  0|
|    75%|        7.40164945E8|            750228|               797|            77.78|            40823970|              472|                  0|                  0|
|    max|           751916362|            999999|          89518096|          5075.01|            41472000|              479|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 11, 14, 0, 0), max(tx_datetime)=datetime.datetime(2020, 12, 13, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994835|
+-------------------------------+

2020-12-14.txt
+-------+-------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+
|summary|    # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|      tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+-------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+
|  count|           46983905|          46983905|          46983590|         46983905|           46983905|          46983905|           46983905|           46983905|
|   mean|7.754083149999999E8|500398.13045948395|26469.941201257716|54.22504791460031|4.276750055160168E7|494.49837232558684| 0.0529029888001008|0.10665737554168817|
| stddev|1.356308524400242E7| 288648.4239759604|1524419.0150643277|41.24633508677268|  754803.1614886262|  8.65462626417624|0.22383981692838004|0.45340803308526156|
|    min|          751916363|           -999999|                 0|              0.0|              17673|               480|                  0|                  0|
|    25%|       7.63662483E8|            250682|               197|            21.95|           42119960|               487|                  0|                  0|
|    50%|       7.75407252E8|            500751|               511|             45.4|           42766596|               494|                  0|                  0|
|    75%|       7.87153799E8|            750236|               797|            77.78|           43415845|               502|                  0|                  0|
|    max|          798900267|            999999|          89518096|          4811.56|           44064000|               509|                  1|                  3|
+-------+-------------------+------------------+------------------+-----------------+-------------------+------------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2020, 12, 14, 0, 0), max(tx_datetime)=datetime.datetime(2021, 1, 12, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46983905|
+-------------------------------+

2021-01-13.txt
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|         tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46993755|          46993755|          46993755|          46993755|           46993755|         46993755|           46993755|           46993755|
|   mean| 8.223971115398952E8| 500395.8161760855|27077.533338972382|54.229144511222984|4.535944549785877E7|524.4992996409842|0.05174617350752243|0.10433726779228432|
| stddev|1.3565906662265934E7|288547.74798518437|1542149.8596398798|41.287769502317296|  757982.0313672228|8.655441964513143| 0.2215141261387212| 0.4487869113248557|
|    min|           798900268|                 0|                 0|               0.0|              17278|              510|                  0|                  0|
|    25%|         8.1064756E8|            250739|               197|             21.95|           44711893|              517|                  0|                  0|
|    50%|        8.22397299E8|            500716|               511|              45.4|           45359586|              524|                  0|                  0|
|    75%|        8.34141559E8|            750140|               796|             77.78|           46007988|              532|                  0|                  0|
|    max|           845893949|            999999|          89518096|           4197.42|           46656000|              539|                  1|                  3|
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 1, 13, 0, 0), max(tx_datetime)=datetime.datetime(2021, 2, 11, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46993682|
+-------------------------------+

2021-02-12.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud| tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+------------------+
|  count|            46997040|          46997040|          46994864|         46997040|           46997040|         46997040|           46997040|          46997040|
|   mean| 8.693924633611232E8| 500433.0028605844|14807.866781186982|54.23599771836673|4.795193432378846E7|554.4992774013002| 0.1024653254758172|0.2058130043934682|
| stddev|1.3566872886348704E7|288586.75349483226| 1131536.349940446|41.31080323474829|  748058.1765609576|8.655556284088856|0.30325926945074894|0.6106905927997135|
|    min|           845893950|           -999999|                 0|              0.0|           46656000|              540|                  0|                 0|
|    25%|        8.57639677E8|            250788|               199|            21.95|           47304032|              547|                  0|                 0|
|    50%|        8.69391244E8|            500769|               511|            45.41|           47950945|              554|                  0|                 0|
|    75%|        8.81143047E8|            750173|               797|            77.78|           48599973|              562|                  0|                 0|
|    max|           892890975|            999999|          89518096|          5128.83|           49248000|              569|                  1|                 3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 2, 12, 0, 0), max(tx_datetime)=datetime.datetime(2021, 3, 13, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46997026|
+-------------------------------+

2021-03-14.txt
+-------+--------------------+-----------------+------------------+------------------+--------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|         tx_amount|     tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+------------------+--------------------+-----------------+-------------------+-------------------+
|  count|            46990554|         46990554|          46990554|          46990554|            46990554|         46990554|           46990554|           46990554|
|   mean| 9.163862525000002E8| 500386.057501663| 23861.79755718564|54.225585816673885|5.0543845137172274E7|584.5015141340959|0.06064378385494242|0.12213352496333625|
| stddev|1.3565004644972354E7|288622.2576643053|1445863.0837505276| 41.25662408269801|   754611.8300505646|8.655831872919947|0.23867575609388314|0.48266458159266856|
|    min|           892890976|          -999999|                 0|               0.0|               38708|              570|                  0|                  0|
|    25%|        9.04636937E8|           250694|               197|             21.95|            49896008|              577|                  0|                  0|
|    50%|        9.16381702E8|           500711|               511|             45.41|            50544763|              584|                  0|                  0|
|    75%|        9.28136764E8|           750170|               797|             77.79|            51192146|              592|                  0|                  0|
|    max|           939881529|           999999|          89518096|           3857.23|            51840000|              599|                  1|                  3|
+-------+--------------------+-----------------+------------------+------------------+--------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 3, 14, 0, 0), max(tx_datetime)=datetime.datetime(2021, 4, 12, 23, 59, 59))

In [10]:
for path in all_dart_dirs[20:]:
    print(str(path)[2:-1])
    basic_info(str(path)[2:-1])

2021-04-13.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46994570|          46994570|          46992906|         46994570|           46994570|         46994570|           46994570|           46994570|
|   mean| 9.633788144999998E8|500377.17109921423| 26558.23356344466|54.23780637848129|5.313580339001889E7|614.4994623421387|0.05314043728881869|0.10711986512484314|
| stddev|1.3566163964312918E7| 288541.7384795898|1527004.8167277158|41.25614367717534|  751628.7974476136|8.656297510590337| 0.2243134687981527| 0.4542968358740722|
|    min|           939881530|                 0|                 0|              0.0|             382436|              600|                  0|                  0|
|    25%|        9.51627604E8|            250698|               197|            21.95|           52487824|              607|                  0|                  0|
|    50%|        9.63376983E8|            500711|               511|            45.41|           53134928|              614|                  0|                  0|
|    75%|        9.75128017E8|            750093|               797|             77.8|           53783973|              622|                  0|                  0|
|    max|           986876099|            999999|          89518096|          4917.36|           54432000|              629|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 4, 13, 0, 0), max(tx_datetime)=datetime.datetime(2021, 5, 12, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994570|
+-------------------------------+

2021-05-13.txt
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|     tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+
|  count|            46992294|          46992294|          46991698|         46992294|            46992294|         46992294|           46992294|           46992294|
|   mean|1.0103721851627624E9| 500426.2753579555|26650.563225593593|54.22044721800562|5.5728029251317926E7|644.5013832267904| 0.0545305151521226|0.10991527674728967|
| stddev|1.3565470317834428E7|288631.01534088235|1529700.6994994588|41.26553191878562|   750206.3192227408|8.655713622329083|0.22706153167479246| 0.4597821652837016|
|    min|          1000000000|           -999999|                 0|              0.0|              552414|              630|                  0|                  0|
|    25%|        9.98621558E8|            250760|               197|            21.94|            55079873|              637|                  0|                  0|
|    50%|       1.010370876E9|            500814|               511|             45.4|            55728000|              645|                  0|                  0|
|    75%|        1.02211931E9|            750165|               797|            77.77|            56375951|              652|                  0|                  0|
|    max|           999999999|            999999|          89518096|          5620.61|            57024000|              659|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+--------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 5, 13, 0, 0), max(tx_datetime)=datetime.datetime(2021, 6, 11, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46992171|
+-------------------------------+

2021-06-12.txt
+-------+--------------------+------------------+------------------+----------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|       tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+----------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46998583|          46998583|          46998008|        46998583|           46998583|         46998583|           46998583|           46998583|
|   mean|1.0573674959961874E9|500408.24922987574| 26338.36915451821|54.2356161737897|5.832003718554008E7|674.5004224701838|0.05165359985427646|0.10414765057916746|
| stddev|1.3567284188295985E7| 288557.4512529361|1520547.3994052303|41.3203318439848|   748061.859521065|8.655554721186158| 0.2213266963532587| 0.4484007046498437|
|    min|          1033868271|                 0|                 0|             0.0|           57024000|              660|                  0|                  0|
|    25%|        1.04561525E9|            250751|               197|           21.95|           57671973|              667|                  0|                  0|
|    50%|          1.057368E9|            500681|               511|           45.41|           58320260|              675|                  0|                  0|
|    75%|       1.069118273E9|            750162|               797|           77.78|           58968159|              682|                  0|                  0|
|    max|          1080866721|            999999|          89518096|         4487.98|           59616000|              689|                  1|                  3|
+-------+--------------------+------------------+------------------+----------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 6, 12, 0, 0), max(tx_datetime)=datetime.datetime(2021, 7, 11, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46998451|
+-------------------------------+

2021-07-12.txt
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|         tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46987371|          46987371|          46986900|          46987371|           46987371|         46987371|           46987371|           46987371|
|   mean|       1.104360407E9|500402.74426230404|26624.510945774247|54.238307626107186|6.091159368580232E7| 704.500947775946|0.05163796033619331|0.10410537759177886|
| stddev|1.3564085792018982E7|288620.87638805725|1528942.8737194573| 41.27414119695448|  761262.9332070334|8.655442167241644|0.22129501221387343| 0.4482892859988497|
|    min|          1080866722|           -999999|                 0|               0.0|                500|              690|                  0|                  0|
|    25%|       1.092612255E9|            250725|               197|             21.95|           60264000|              697|                  0|                  0|
|    50%|       1.104356308E9|            500797|               511|             45.41|           60911998|              704|                  0|                  0|
|    75%|       1.116104283E9|            750179|               797|             77.81|           61559977|              712|                  0|                  0|
|    max|          1127854092|            999999|          89518096|           4404.41|           62208000|              719|                  1|                  3|
+-------+--------------------+------------------+------------------+------------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 7, 12, 0, 0), max(tx_datetime)=datetime.datetime(2021, 8, 10, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46987371|
+-------------------------------+

2021-08-11.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|            tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-------------------+
|  count|            46998055|          46998055|          46995956|         46998055|           46998055|         46998055|            46998055|           46998055|
|   mean|1.1513531200000002E9|500450.50609781616|27036.606355980926|54.23016747395144|6.350292777386343E7| 734.498011034712|0.050680884560009985|0.10220982549171449|
| stddev|1.3567169997156974E7|288589.48375322815|1540953.0596599067|41.37346999850517|  772810.5838001468|8.655382759681142| 0.21934523820665414|0.44453485119363956|
|    min|          1127854093|           -999999|                 0|              0.0|              28408|              720|                   0|                  0|
|    25%|       1.139601911E9|            250775|               197|            21.95|           62855799|              727|                   0|                  0|
|    50%|       1.151352704E9|            500793|               511|             45.4|           63502497|              734|                   0|                  0|
|    75%|       1.163103564E9|            750241|               797|            77.77|           64151868|              742|                   0|                  0|
|    max|          1174852147|            999999|          89518096|         11027.43|           64800000|              749|                   1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+--------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 8, 11, 0, 0), max(tx_datetime)=datetime.datetime(2021, 9, 9, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46998055|
+-------------------------------+

2021-09-10.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46994607|          46994607|          46993698|         46994607|           46994607|         46994607|           46994607|           46994607|
|   mean|  1.19834941298108E9| 500445.8470407466|  26636.0243204525|54.23136454231865|6.609532193275799E7|764.4993277207319|0.05588551894901472|0.11262907252315144|
| stddev|1.3566154055257775E7|288635.15841756744|1529278.1550647288| 41.2775885733103|  765693.8833488798|8.654688817413973|0.22970051990264512|0.46500817415790213|
|    min|          1174852148|           -999999|                 0|              0.0|               6149|              750|                  0|                  0|
|    25%|       1.186597617E9|            250785|               198|            21.95|           65447927|              757|                  0|                  0|
|    50%|       1.198346238E9|            500829|               511|            45.41|           66096705|              764|                  0|                  0|
|    75%|       1.210097252E9|            750250|               797|            77.78|           66743946|              772|                  0|                  0|
|    max|          1221846679|            999999|          89518096|          5837.62|           67392000|              779|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 9, 10, 0, 0), max(tx_datetime)=datetime.datetime(2021, 10, 9, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994532|
+-------------------------------+

2021-10-10.txt
+-------+--------------------+-----------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|        tx_amount|   tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+
|  count|            46994093|         46994093|          46993930|         46994093|          46994093|         46994093|           46994093|           46994093|
|   mean|       1.245343726E9|500423.6408433715| 22810.56163747105|54.23978582052861|6.86878981969399E7|794.4997907290178|0.06448897736998563|0.12984359544932594|
| stddev|1.3566026266273683E7|288622.3600908985|1412961.9175454574|41.30735488709191| 750625.9412541908|8.656256689670084| 0.2456219665492903| 0.4965055361471538|
|    min|          1221846680|          -999999|                 0|              0.0|            851620|              780|                  0|                  0|
|    25%|       1.233595987E9|           250814|               198|            21.95|          68039768|              787|                  0|                  0|
|    50%|       1.245340812E9|           500725|               511|            45.41|          68688000|              794|                  0|                  0|
|    75%|       1.257088049E9|           750161|               797|            77.79|          69336061|              802|                  0|                  0|
|    max|          1268840772|           999999|          89518096|          4852.88|          69984000|              809|                  1|                  3|
+-------+--------------------+-----------------+------------------+-----------------+------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 10, 10, 0, 0), max(tx_datetime)=datetime.datetime(2021, 11, 8, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46994093|
+-------------------------------+

2021-11-09.txt
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|summary|     # tranaction_id|       customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud|  tx_fraud_scenario|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+
|  count|            46993018|          46993018|          46991012|         46993018|           46993018|         46993018|           46993018|           46993018|
|   mean|1.2923372651703408E9| 500413.9063292764| 19519.82502441105|54.23292142717864|7.128008886591358E7| 824.501027578182|0.07662825571236986|0.15411759678852718|
| stddev| 1.356570545875071E7|288572.73565607535|1304624.3149601328|41.33008500987369|  748060.0050413831|8.655515711540657| 0.2660006910602443| 0.5367729389445526|
|    min|          1268840773|           -999999|                 0|              0.0|           69984000|              810|                  0|                  0|
|    25%|        1.28058618E9|            250682|               197|            21.95|           70631941|              817|                  0|                  0|
|    50%|       1.292337008E9|            500785|               511|            45.41|           71280042|              825|                  0|                  0|
|    75%|       1.304087505E9|            750165|               797|            77.78|           71928000|              832|                  0|                  0|
|    max|          1315833756|            999999|          89518096|          4990.09|           72576000|              839|                  1|                  3|
+-------+--------------------+------------------+------------------+-----------------+-------------------+-----------------+-------------------+-------------------+

Row(min(tx_datetime)=datetime.datetime(2021, 11, 9, 0, 0), max(tx_datetime)=datetime.datetime(2021, 12, 8, 23, 59, 59))
+-------------------------------+
|count(DISTINCT # tranaction_id)|
+-------------------------------+
|                       46992984|
+-------------------------------+

2021-12-09.txt
+-------+--------------------+-----------------+------------------+-----------------+-------------------+-----------------+-------------------+------------------+
|summary|     # tranaction_id|      customer_id|       terminal_id|        tx_amount|    tx_time_seconds|     tx_time_days|           tx_fraud| tx_fraud_scenario|
+-------+--------------------+-----------------+------------------+-----------------+-------------------+-----------------+-------------------+------------------+
|  count|            47001969|         47001969|          47001969|         47001969|           47001969|         47001969|           47001969|          47001969|
|   mean|       1.339334741E9|500409.7694467864|26246.448202116808|54.22935691864334|7.387152978256766E7|854.4995982615111|0.05260049850252018|0.1060552590892522|
| stddev|1.3568299871633852E7|  288555.18635652|1517847.4902081003|41.49307547834513|  761919.6830379559|8.655188886754797|0.22323460108158336|0.4522327734192752|
|    min|          1315833757|                0|                 0|              0.0|             113344|              840|                  0|                 0|
|    25%|       1.327583175E9|           250752|               197|            21.95|           73223855|              847|                  0|                 0|
|    50%|       1.339330329E9|           500749|               511|             45.4|           73872000|              854|                  0|                 0|
|    75%|       1.351081015E9|           750137|               797|            77.78|           74520021|              862|                  0|                 0|

* tx_datetime: поиск значений, которые выпадают за требуемые ограничения (часы, минуты и т.п.)

In [49]:
def add_info(path):
    data = spark.read.text(path)
    header=data.first()[0]
    schema=header.split(" | ")
    df_new = data.filter(data["value"] != header).rdd.map(lambda x:x[0].split(",")).toDF(schema)
    df_new = df_new.withColumn("tx_datetime", df_new.tx_datetime.cast(TimestampType()))\
                   .withColumn("hour", hour(col("tx_datetime")))\
                   .withColumn("minute", minute(col("tx_datetime")))\
                   .withColumn("second", second(col("tx_datetime")))
    print(df_new.select(min("hour"), max("hour"), min("minute"), max("minute"), min("second"), max("second")).first())

In [50]:
for path in all_dart_dirs:
    print(str(path)[2:-1])
    add_info(str(path)[2:-1])

2019-08-22.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2019-09-21.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2019-10-21.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2019-11-20.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2019-12-20.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-01-19.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-02-18.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-03-19.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-04-18.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-05-18.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-06-17.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-07-17.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-08-16.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-09-15.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-10-15.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-11-14.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2020-12-14.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-01-13.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-02-12.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-03-14.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-04-13.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-05-13.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-06-12.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-07-12.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-08-11.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-09-10.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-10-10.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-11-09.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2021-12-09.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-01-08.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-02-07.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-03-09.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-04-08.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-05-08.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-06-07.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-07-07.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-08-06.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-09-05.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-10-05.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)
2022-11-04.txt
Row(min(hour)=0, max(hour)=23, min(minute)=0, max(minute)=59, min(second)=0, max(second)=59)

Дубликаты строк

In [50]:
df_new.filter(df_new['# tranaction_id'] == 3600373).show(truncate=False)

+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|# tranaction_id|tx_datetime        |customer_id|terminal_id|tx_amount|tx_time_seconds|tx_time_days|tx_fraud|tx_fraud_scenario|
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+
|3600373        |2019-08-24 19:52:51|299409     |539        |33.25    |244371         |2           |0       |0                |
|3600373        |2019-08-24 19:52:51|299409     |539        |33.25    |244371         |2           |0       |0                |
+---------------+-------------------+-----------+-----------+---------+---------------+------------+--------+-----------------+

In [8]:
spark.stop()